
@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: normal;
    font-family: 'Muli', sans-serif;
}

body {
    background: #c9dbef;
}

.content-bg {
    max-width: 800px;
    height: 100vh;
    margin: auto;
}

.content-inner {
    background-image: url(img/smMerigobg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.contentbox {
    max-width: 80vw;
    height: auto;
    border: 3px #fff solid;
    border-radius: 20px;
    margin: auto;
    background-color: rgb(4, 42, 79, 0.9);
}
.innercontent {
    margin: 20px 35px;
    max-width: 80%;
}
.innercontent-head {
    display: grid;
    grid-template-columns: 30px auto;
    grid-template-areas: 
    "a b";
}
.plane {
    grid-area: a;
    font-size: 1.4rem;
    color: #ef9a1b;
    padding-top: 5px;
    transform: rotate(325deg);
}
.brandname {
    grid-area: b;
    text-transform: lowercase;
    font-weight: 900;
    color: #fff;
    font-size: 1.4rem;
    display: block;
    margin-left: 1rem;
}

.header {
    color: #fff;
    margin: 50px auto 20px;
    font-weight: 500;
    font-size: 1rem;
}
.icons input[type=text] {
    padding-left: 45px;
    margin-bottom: 20px;
}
.icons {
    position: relative;
}
.icons i {
    position: absolute;
    left: 0;
    top: 10px;
    padding: 3px 14px;
    color: #fff;
    transition: .5s;
}
.icons input[type=text]:focus + i {
    color: #5f70ef;
}
input[type=text] {
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    border: 2px #fff solid;
    background-color: #042a4f;
    color: #fff;
    outline-style: none;
}
.material-icons {
    font-size: 1rem;
}
.icons input[type=password] {
    padding-left: 45px;
}
.icons {
    position: relative;
}
.icons i {
    position: absolute;
    left: 0;
    top: 10px;
    padding: 3px 14px;
    color: #fff;
    transition: .5s;
}
input[type=password] {
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    border: 2px #fff solid;
    background-color: #042a4f;
    color: #fff;
    outline-style: none;
}
.icons input[type=password]:focus + i {
    color: #5f70ef;
}
#checkbox {
    background: transparent;
    border-radius: 4px;
    -webkit-appearance: none;
    box-shadow: 0px 0px 0px 1px #fff inset;
    height: 15px;
    width: 15px;
    position: relative;
    margin: 30px 10px 0 0;
    vertical-align: -2px;
}
#checkbox:after {
    content: '\2713\0020';
    position: absolute;
    top: .35em;
    left: .22em;
    font-size: .75rem;
    line-height: 0.8;
    color: transparent;
}
#checkbox:checked:after {
    color: #fff;
}
.remember {
    display: inline-block;
    color: #fff;
    font-size: 0.6rem;
    margin-top: 2rem;
}
.link1 {
    color: #fff;
    outline: none;
    text-decoration: none;
    float: right;
    font-size: 0.6rem;
    margin-top: 2rem;
}

.btn {
    width: 100%;
    padding: 1rem 3rem;
    border-radius: 10px;
    font-weight: 900;
    color: #042a4f;
    text-transform: uppercase;
    margin: 20px 0;
    background-color: #ef9a1b;
    border: 2px solid #ef9a1b;
    outline: none;
    cursor: pointer;
}
.footer {
    color: #fff;
    font-size: .8rem;
    margin-bottom: 4rem;
}
.footer a {
    color: #fff;
}